src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3aa25120-b350-4a8c-aa11-d347498b783b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="f14dae7a-4afa-401c-bb54-27fddb5c3e32" >
		<http:listener doc:name="Listener" doc:id="d249950c-2552-4a82-8024-f1c87f89e0d1" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="5755c63a-1334-49ce-bbd9-02b9af00ea94" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message :"Hi"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="02c0de74-d26f-4329-878f-2c0f49280998" message="#[payload]"/>
	</flow>
</mule>
